body {
    width: 80%;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
}

header {
    background-color: rgb(64, 155, 191);
    color: aliceblue;

    width: 80%;

    position: fixed;
    top: 0;
    z-index: 1000;
}

.headContainer {
    display: flex;
    justify-content: space-between;
}

header h1, header nav {
    padding: 0.5rem 1rem;
}

h1 {
    font-size: 2rem;
}

nav {
    text-align: right;
    margin-top: 0.35rem;
}

nav ul li{
    display: inline-block;
}

nav ul li:nth-child(2), 
nav ul li:nth-child(3){
    margin-left: 2rem;
}

/*------------------Just for showcase---------------------*/


article p span {
    color: red;
    font-size: 1.5em;
    font-weight: bold;
}

.msg{
    font-weight: bold;
    font-size: 4rem;
    color: red;
    margin-top: 2rem;
}

.foot {
    font-weight: bold;
    font-size: 10rem;
}

/*--------------------------------------------------------*/

main {
    margin-top: 5rem;
    width: 100%;
    font-size: 1.25rem;
}

#projects {
    margin-bottom: 5rem;
    padding-bottom: 2.5rem;
}

#projects img {
    width: 100%;
    max-height: 10rem;
    border-radius: 8%;
}

#projects article {
    background-color: white;
    border-radius: 8%;
    margin-bottom: 1rem;
    width: 26%;
    transition: transform 0.2s; /* Animation duration */
}

#projects article:hover {
    transform: scale(1.15); /* 115% zoom */
}

#projects div {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

#projects div p{
    margin-top: 0.2em;
    font-size: 0.8em;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

img {
    width: 100%;
}

hr {
    margin-left: 1rem;
    margin-right: 1rem;
}

.aContainer {
    display: flex;
    justify-content: space-around;
}

.pContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#about img {
    width: 10%;
}

#about {
    margin-bottom: 5rem;
    border-style: dashed;
    padding: 1rem;
}

#about article {
    margin-left: 1rem;
}

#about article p {
    margin-top: 1rem;
    line-height: 1.75rem;
}

#contact {
    margin-bottom: 5rem;
}

#contact p {
    text-align: center;
    font-size: 2rem;
}

footer {
    background-color: rgb(64, 155, 191);
}

footer p {
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}