main {
    animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        transform: rotateY(-5deg);
        opacity: 0;
    }
    to {
        transform: rotateY(0);
        opacity: 1;
    }
}